body{
    background-color: black;
    color: aqua;
}
h1{
    background-color: aqua;
    color: black;
    font-size: 50px;
}
#show_sketch{
    background-color: black;
    color: aqua;
    margin-left: 83%;
    font-size: 30px;
}
p{
    font-size: 25px;
}
#score{
    font-size: 25px;
    margin-right: 83%;
}
#timer{
    font-size: 25px;
    margin-left: 83%;
}
#stbd{
    color: white;
}
h4{
    color: black;
}